* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pretendard", "Russo One", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #111;
  font-weight: 700;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

header {
  height: 60px;
  background-color: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 18px;
  font-weight: 300;
}
header h1 strong {
  font-weight: 700;
}

.list {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.list li img {
  width: 80px;
}

.search-box {
  width: 600px;
  margin: 50px auto;
  padding: 10px 30px;
  background-color: #fff;
  display: flex;
  border-radius: 100px;
}
.search-box .search-txt {
  height: 50px;
  flex-grow: 1;
  border: none;
  font-size: 20px;
  font-weight: 700;
  outline: none;
}
.search-box .btn-search {
  background: none;
  border: none;
  outline: none;
}
.search-box .btn-search .meterial-icons {
  font-size: 19px;
}

.recent-search-word {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  gap: 10px;
}
.recent-search-word li {
  padding: 15px 30px;
  background-color: rgb(218, 124, 0);
  color: #fff;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  display: flex;
  gap: 20px;
}